.mdi-set::before {
  display: inline-block;
}

/* MaterialDesignIcons.com */
@import "~mdi/scss/variables";
@import "~mdi/scss/functions";
//@import "~mdi/scss/path"; - just importing the woff2 here to save file size
@font-face {
  font-family: '#{$mdi-font-name}';
  src: url('~mdi/scss/#{$mdi-font-path}/#{$mdi-filename}-webfont.woff2?v=#{$mdi-version}') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import "~mdi/scss/core";
@import "~mdi/scss/icons";
@import "~mdi/scss/extras";
@import "~mdi/scss/animated";